*.csproj
*.sln
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-firstpass.csproj
.sln
/ootii.csproj
/ootii.Editor.csproj
/spine-unity.csproj
/spine-unity-editor.csproj
/Unity.Postprocessing.Editor.csproj
/Unity.Postprocessing.Runtime.csproj
.sln.DotSettings.user
/Library
/obj
/Temp
/.vs
/.vscode
/.idea
/Assets/StreamingAssets
/Assets/Plugins/Editor
/Logs/
/UserSettings/
/Assets/Plugins/Editor.meta
/Assets/Scripts/GameBox/Vendor/AssetBundleGraph/unity!/UnityEngine.AssetGraph/Cache/
/Assembly-CSharp.csproj
/AssetDepotOutput/
/GeneratedAssetDepots/
/Publish/
/Libs/ExcelToProtoCmdTool/.vs
/Libs/ExcelToProtoCmdTool/ExcelToProtoCmdTool/bin/
/Libs/ExcelToProtoCmdTool/ExcelToProtoCmdTool/obj/
/Assets/_Test/Local
/Assets/Editor/Utilities/Macros/Channel.json
/Assets/LoadableResources/NameMap.asset
/Assets/Scripts/GameBox/Vendor/AssetBundleGraph/unity!/UnityEngine.AssetGraph/Cache/TemporalSettingFiles/AssetBundleBuildMap.asset
HorrorGame/Assets/RawResource/Character/Char_1/Anims/A.anim
HorrorGame/Assets/RawResource/Character/Char_1/Anims/A.anim.meta
HorrorGame/Assets/RawResource/Character/Char_1/Anims/B.anim
HorrorGame/Assets/RawResource/Character/Char_1/Anims/B.anim.meta
HorrorGame/Assets/RawResource/Character/Char_1/Anims/C.anim
HorrorGame/Assets/RawResource/Character/Char_1/Anims/C.anim.meta
HorrorGame/Assets/RawResource/Character/Char_1/Anims/D.anim
HorrorGame/Assets/RawResource/Character/Char_1/Anims/D.anim.meta
HorrorGame/Assets/RawResource/Character/Char_1/Anims/E.anim
HorrorGame/Assets/RawResource/Character/Char_1/Anims/E.anim.meta
HorrorGame/Assets/RawResource/Character/Char_1/Anims/Face_Test.FBX
HorrorGame/Assets/RawResource/Character/Char_1/Anims/Face_Test.FBX.meta
HorrorGame/Assets/LoadableResources/Story/TimelinePrefabs/Story_20009_SC18_Char_1.FBX
HorrorGame/Assets/LoadableResources/Story/TimelinePrefabs/Story_20009_SC18_Char_1.FBX.meta
HorrorGame/Assets/LoadableResources/Story/TimelinePrefabs/Story_20009_SC18_Char_7.FBX
HorrorGame/Assets/LoadableResources/Story/TimelinePrefabs/Story_20009_SC18_Char_7.FBX.meta
HorrorGame/Assets/RawResource/Character/Story_20009_SC26_Char_1.FBX
HorrorGame/Assets/RawResource/Character/Story_20009_SC26_Char_1.FBX.meta
/Assets/_UI/output/View_details.cs
/Assets/_StoryPrefabs/
/Assets/_UI/
/Assets/ChatRecords/
